@import url(https://fonts.googleapis.com/css?family=Port+Lligat+Sans:regular);

@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,700,800&dispay=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 80px;
  align-items: center;
  padding-top: 85px;
}

.header__logo {
  z-index: 6;
  position: relative;
  display: flex;
  align-items: center;
}

.header__logo span {
  padding-left: 14px;
  color: #58A9A5;
  font-weight: 800;
  font-size: 35px;
  line-height: 52px;
}

.header__menu {
  flex: 1 1 auto;
  display: flex;
  justify-content: end;
}

.header__button {
  display: flex;
  flex: 0 1 491px;
  justify-content: end;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-left: 85px;
}

.menu__item:first-child {
  margin-left: 0;
}

.menu__link {
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: #404242;
  position: relative;
}

.menu__link:hover {
  color: #58A9A5;
}

.menu__link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background: #FEC62D;
  border-radius: 21px;
  bottom: -10px;
  left: 0;
}

.button {
  padding: 21px 88px;
  background: #58A9A5;
  border-radius: 15px;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #FFFFFF;
}

.button:hover {
  background: #468a86;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: Poppins;
  color: #404242;
  font-size: 30px;
}

[class*=__container] {
  max-width: 1612px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

/*=========letsGO=========*/

.letsgo__container {
  padding-top: 270px;
}

.letsgo__block {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.letsgo__content {
  padding-top: 48px;
  max-width: 743px;
}

.letsgo__title {
  margin-bottom: 50px;
}

.letsgo__text {
  margin-bottom: 60px;
}

.letsgo__media {
  position: absolute;
  top: 0;
  left: 822px;
}

.letsgo__media img {
  max-width: 823px;
}

.button_border {
  border-radius: 20px 20px 20px 0px;
}

.title {
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #1C2323;
}

.text {
  font-size: 30px;
  line-height: 45px;
  color: #404242;
}

/*==========================*/

.works {
  padding-top: 179px;
}

.works__content {
  text-align: center;
}

.works__title {
  margin-bottom: 20px;
}

.works__text {
  margin-bottom: 71px;
}

.works__media {
  display: flex;
}

.blue-block {
  background: #CCF0E6;
  border-radius: 0px 10px 10px 0px;
  padding: 70px 106px 89px 115px;
  position: relative;
}

.blue-block__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
  margin-bottom: 41px;
}

.see-more {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
}

.video {
  position: absolute;
  top: 182px;
  right: 485px;
}

/*=======================*/

/*=======MISSION========*/

.mission {
  padding-top: 150px;
}

.mission__block {
  display: flex;
  justify-content: space-between;
}

.mission__content {
  padding-right: 120px;
}

.mission__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #1C2323;
}

.mission__text {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #486958;
}

/*===========================*/

/*=========PROJECT=============*/

.project {
  padding-top: 120px;
}

.project__content {
  text-align: center;
  margin-bottom: 160px;
  position: relative;
}

.project__content::after {
  content: "";
  position: absolute;
  width: 135px;
  height: 6px;
  left: 740px;
  top: 200px;
  background: #58A9A5;
}

.project__content::before {
  content: "";
  position: absolute;
  width: 135px;
  height: 6px;
  left: 740px;
  top: 215px;
  background: #58A9A5;
}

.project__items {
  display: flex;
  justify-content: space-between;
}

.project__item {
  max-width: 453px;
}

.project__item img:nth-child(1) {
  margin-bottom: 35px;
}

.project__item_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #58A9A5;
  margin-bottom: 5px;
}

.project__item_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
  margin-bottom: 35px;
}

/*=========================*/

/*=========test=============*/

.test {
  padding-top: 250px;
  margin-bottom: 240px;
}

.test__header {
  text-align: center;
}

.test__title {
  margin-bottom: 21px;
}

.test__images {
  padding: 0 173px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 62px;
}

.test__content {
  display: flex;
}

.blue--block {
  width: 997px;
  height: 700px;
  left: 781px;
  top: 4376px;
  background: #CCF0E6;
  padding: 50px 135px 119px 135px;
}

.blue--block p {
  position: relative;
  z-index: 100;
}

.blue--block__statistic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 123px;
}

.blue--block__statistic_text {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #486958;
  position: relative;
  z-index: 100;
}

.blue--block__statistic_text::after {
  content: url("../img/22.png");
  z-index: 1;
  top: -80px;
  left: -35px;
  font-family: "Port Lligat Sans";
  position: absolute;
  font-size: 300px;
  color: #FFFFFF;
}

.blue--block__statistic_text span {
  position: absolute;
  bottom: -80px;
  left: 0px;
  color: #58A9A5;
}

.blue--block__statistic-item {
  max-width: 179px;
}

.blue--block__statistic-item_number {
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #58A9A5;
}

.blue--block__statistic-item_text {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #58A9A5;
}

/*======================*/

/*=========SUBMIT==========*/

.submit {
  margin-bottom: 340px;
}

.submit__container {
  display: flex;
}

.submit__content {
  position: relative;
  margin-right: 105px;
}

.submit__content::after {
  content: "";
  position: absolute;
  width: 135px;
  height: 6px;
  left: 0px;
  top: 250px;
  background: #58A9A5;
}

.submit__content::before {
  content: "";
  position: absolute;
  width: 135px;
  height: 6px;
  left: 0px;
  top: 265px;
  background: #58A9A5;
}

.submit__text-area {
  width: 1100px;
  border: 1px solid #486958;
  padding: 57px 55px 35px 55px;
}

.submit__text-area_item {
  position: relative;
  margin-bottom: 82px;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #486958;
}

.submit__text-area_item::after {
  content: "";
  width: 950px;
  height: 2px;
  left: 0;
  top: 50px;
  position: absolute;
  background: #000;
}

.submit__text-area_button {
  display: flex;
  justify-content: end;
}